ion-content{
  margin: 0 auto;

  .user{
    background: var(--ion-color-primary);
    height: 120px;

    .avatar {
      width: 140px;
      height: 70px;
      position: relative;
      margin: 0 auto;

      img {
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: calc(-1 * (80px + 4px));
        border: 4px solid var(--ion-color-primary);
        background-color: #fff;
      }
    }

    .label {
      top: 80px;
      position: relative;

      .name {
        font-size: 2em;
      }
    }


  }
  form {
    position: relative;
    top: 4em;
  }
}
