<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user">
    <div class="avatar">
      <img src="{{ settings.photo }}" (click)="handlePhoto($event)"/>
    </div>
    <div class="label ion-text-center">
      <h3 *ngIf="(settings.lastName || settings.firstName)" class="name">{{settings.lastName}}, {{settings.firstName}}</h3>
    </div>
  </div>
  <form>
    <h3 class="ion-padding-start">Name</h3>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text> </ion-label>
        <ion-input required type="text" name="firstName" [(ngModel)]="settings.firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text> </ion-label>
        <ion-input required type="text" name="lastName" [(ngModel)]="settings.lastName"></ion-input>
      </ion-item>
    </ion-list>

    <h3 class="ion-padding-start">Preferences</h3>
    <ion-list lines="full" class="ion-no-padding ion-no-margin">
      <ion-item>
        <ion-label position="stacked">Contact Limit</ion-label>
        <ion-select name="contactLimit" [(ngModel)]="settings.contactLimit">
          <ion-select-option [value]="10">10</ion-select-option>
          <ion-select-option [value]="50">50</ion-select-option>
          <ion-select-option [value]="100">100</ion-select-option>
          <ion-select-option [value]="250">250</ion-select-option>
          <ion-select-option [value]="500">500</ion-select-option>
          <ion-select-option [value]="1000">1000</ion-select-option>
        </ion-select>
        <ion-note>Controls number of contacts displayed</ion-note>
      </ion-item>
    </ion-list>
    <ion-button class="ion-margin-top" color="danger" expand="block" (click)="handleSave($event)">Save</ion-button>
  </form>
</ion-content>
