<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Range</ion-label>
      <ion-select interface="popover" [(ngModel)]="range" (ionChange)="handlerFilter($event)">
        <ion-select-option value="0" selected="">No Limit</ion-select-option>
        <ion-select-option value="100">100 miles</ion-select-option>
        <ion-select-option value="200">200 miles</ion-select-option>
        <ion-select-option value="500">500 miles</ion-select-option>
        <ion-select-option value="1000">1000 miles</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="((users || []).length === 0)">
      No Results
    </ion-item>
    <ion-item *ngFor="let user of users" (click)="displayUserDetail(user)">
      {{user.name}}
      <ion-avatar slot="start">
        <img src="{{user.photo}}" />
      </ion-avatar>
      <ion-badge *ngIf="range !== '0'" color="light" slot="end">
        {{ user.address.distanceFrom(location.latitude, location.longitude).toFixed(0)}} miles
      </ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
